body {
    font-family: Arial, sans-serif;
    background: #f5f6fa;
    margin: 0;
    padding: 0;

    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    min-width: 200vh;
}

h1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.game-container {
    display: grid;
    grid-template-columns: 500px 500px;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-template-rows: repeat(3, auto);
    background: white;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    position: relative;
}

#timer {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 12px;
}

.controls button {
    margin-left: 8px;
    padding: 6px 12px;
    font-size: 14px;
    cursor: pointer;
}

.right-panel {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 50px;
}

.bottom-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 12px;
}

/* ===== Sudoku Board ===== */
#sudoku-board {
    display: grid;
    grid-template-columns: repeat(9, 60px);
    grid-template-rows: repeat(9, 60px);
    gap: 0;
    width: fit-content;
    margin: 20px auto;
}

#sudoku-board input {
    width: 60px;
    height: 60px;
    text-align: center;
    font-size: 26px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

#sudoku-board input[data-col="0"] {
    border-left: 2px solid #000;
}

/* ====== 3x3 border =====*/
#sudoku-board input[data-col="2"],
#sudoku-board input[data-col="5"],
#sudoku-board input[data-col="8"] {
    border-right: 2px solid #000;
}

#sudoku-board input[data-row="0"] {
    border-top: 2px solid #000;
}

#sudoku-board input[data-row="2"],
#sudoku-board input[data-row="5"],
#sudoku-board input[data-row="8"] {
    border-bottom: 2px solid #000;
}
/* ====== ===== =====*/

.fixed input {
    background-color: #f0f0f0;
    font-weight: bold;
}

.invalid {
    background-color: #ffcccc;
}

.valid {
    background-color: white;
}

.highlight {
    background-color: #bed7f1 !important;
}

.same-number {
    background-color: #f0d689 !important;
}

.selected {
    background-color: #cce5ff;
}

/* ===== Keypad ====== */ 
#keypad {
    display: grid;
    grid-template-columns: repeat(3, 90px);
    gap: 10px;
    justify-content: center;
    margin-top: 20px;
    position: relative;
    right:0;
}

#keypad button {
    width: 90px;
    height: 90px;
    font-size: 42px;
    cursor: pointer;
    border-radius: 6px;
    border: 1px solid #ccc;
}

#keypad button:hover {
    background-color: #eeeeee96;
}

#keypad .clear {
    grid-column: span 3;
    background-color: #f5c6cb;
}

/* ===== Pause Overlay ===== */
/* hidden by default */
#pauseOverlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    z-index: 1000;

    align-items: center;
    justify-content: center;
}

/* shown only when paused */
#pauseOverlay.show {
    display: flex;
}

/* Overlay box */
.overlay-content {
    background: white;
    padding: 24px 40px;
    border-radius: 8px;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}

.overlay-content button {
    margin-top: 16px;
    padding: 8px 16px;
    font-size: 16px;
    cursor: pointer;
}

/* ===== Blur board when paused ===== */
body.paused #sudoku-board {
    filter: blur(10px);
    pointer-events: none;
}